# Ignore Python virtual environments
venv/
.env/
env/
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Ignore virtualenv folders anywhere
**/venv/
**/env/

# Ignore Qodo related file
.qodo

# Ignore dummy folders used for practice
Week6/Day1/Python_practice/dummy/
Week5/Day1/restapi